    /*Color Palette*/
    $light-yellow :  #FFF09A;
    $yellow :        #ffd800;
    $light-green:    #6fb98f;
    $dark-green:     #2c7873;
    $dark-blue:      #110133;
    $black:          #000;
    $white:          #fff;


    
    $grid-width: 114rem;
    $gutter-vertical: 2rem;
    $gutter-vertical-small: 1rem;
    $gutter-horizontal: 2rem;