.section-footer {
    margin-top: 13rem;
    background-color: #333;
    color: $white;
    padding-top: 3rem;
    text-align: center;
    font-size: 1.4rem;


    * > a {
        text-decoration: none;
        color: $white;
        padding: 1rem;
    }

    * > li {
        list-style: none;

    }

    * > i {
        font-size: 2rem;
    }
        .footer-nav {

            &_link {
            
                padding: 0.5rem;
                cursor: pointer; 
            }
        }
}


.adress-content {

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_item {
        padding: 0.5rem;

        i {
            padding-right: 1rem;
        }
    }
}

.footer-social {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            padding: 1rem;
        }
    }
}

.footer-img {
    height: 5rem;
    width: 50%;
    padding-bottom: 1rem;
}

