.section-footer {
    margin-top: 13rem;
    background-color: #333;
    color: $white;
    padding-top: 3rem;
    text-align: center;
    font-size: 1.4rem;


    * > a {
        text-decoration: none;
        color: $white;
        padding: 1rem;
    }

    * > li {
        list-style: none;

    }

    * > i {
        font-size: 2.2rem;
    }
        .footer-nav {

            &_link {
            
                padding: 0.5rem;
                cursor: pointer; 

                a:hover {
                    color: $yellow;
                    transition: all .5s;
                    }
            }
        }
}


.adress-content {

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_item {
        padding: 0.5rem;

        i {
            padding-right: 1rem;
        }
    }
}

.footer-social {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            padding: 1rem;

        }
    }
}

.footer-img {
    height: 5rem;
    width: 50%;
    padding-bottom: 1rem;

    @include respond(tab-port) { 
        height: 5rem;
        width: auto;

    }

}

.fab {
    transition: all .3s
}

.fa-facebook-f:hover {
    color: #3b5998;
}
.fa-twitter:hover {
    color: #38A1F3;
}
.fa-instagram:hover {
    color: #E1306C;
}

.ubden-cont {
    backface-visibility: hidden;
}

.ubden:hover {
    transition: all .5s;
    display: inline-block;
    transform: scale(1.1) skewY(4deg);
    color: white;
    background-color: black;
}