*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;
  
    font-size: 62.5%; //1 rem = 10px;
}

body {
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    background-color:#F1F3F9;
}


.container {
    margin: 0 auto;
    width: 112.8rem;
    display: grid;
    grid-template-columns: repeat(12, 7.2rem);
    grid-template-rows: 20.6rem 1fr;
    grid-gap: 0 2.4rem;

}
