.navbar {
    height:6.6rem;
    width: 100%;
    display: block;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-family: inherit;
    background-color: transparent;
    @include respond(tab-port) {
        display:none;
    }

    img {
        height: 5rem;
    }

    &-links {
        a {
            list-style: none;
            text-decoration: none;
            color: $white;
            font-weight: bold;
            text-transform: uppercase;
            transition: all 2s;

        }

        &_item {
            list-style: none;
            display: inline-block;
            padding: 0 2rem;
        }
    }

}

